/* global varuables */
:root {
  --five-pixel: 5px;
  --border-radius: 5px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-image: linear-gradient(to right, red, yellow);
}

.container {
  /* background-color: blue; */
  display: flex;
  /* height: 93vh; */
  padding: 20px;
}
/* start users */
.container .users {
  /* background-color: yellow; */
  flex-basis: 25%;
  padding: 20px 15px;
}
.container .users .user {
  background-color: white;
  padding: 5px 0px 5px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.container .users .user .name {
  font-weight: bold;
  font-size: 15px;
}
.container .users .user .email {
  font-weight: normal;
  font-size: 13px;
}
.selected {
  background-color: #d3d3d3; /* Light gray background for selected user */
  border: 3px solid #007bff; /* Blue border for selected user */
}

/* end users */

/* end posts */
.container .posts {
  background-color: red;
  flex-basis: 75%;
  padding: 20px 30px;
}
.container .posts .post {
  background-color: white;
  padding: 10px;
  border-radius: var(--border-radius);
  /* margin-bottom: 10px; */
  margin-bottom: calc(var(--five-pixel) * 2);
}
.container .posts .post .title {
  border-bottom: 2px solid black;
  padding-bottom: var(--five-pixel);
  font-weight: bold;
  font-size: 15px;
}
.container .posts .post .body {
  padding-top: var(--five-pixel);
}
/* end posts */
